.button {
  font: inherit;
  background: none;
  border: none;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  height: var(--space-12);
  cursor: pointer;
  transition: all 0.3s;
  padding: 0 var(--space-5);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-primary-border);
  &[data-type='primary'] {
    background: var(--color-primary);
    color: white;
  }
  &[data-type='secondary'] {
    background: #fff;
    color: var(--color-primary);
    border-color: var(--color-border);
  }
  &:hover,
  &:focus {
    opacity: 0.9;
    transform: translateY(-2px);
    box-shadow: 2px 5px #d0dce2ba;
  }
  &:active {
    transform: translateY(0);
    box-shadow: none;
  }
}
