html {
  -webkit-text-size-adjust: 100%;
  font-family:
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  font-family: inherit;
  line-height: inherit;
}

.Navbar__brand {
  font-size: var(--font-size-3);
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout__app-container {
  padding: var(--space-10) 0;
}
